
.loader {
    --c: 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #000);
    -webkit-mask: radial-gradient(60% var(--c) at top, #0000 calc(100% - 1px), #000);
}



.counter {
    color: white;
    font-size: 5vw;
    z-index: 2;
    font-size: var(--step-3);
}

