/* Global Styling */
@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
    /* Modern browsers */
    url('/fonts/GeneralSans-Regular.woff') format('woff'),
    /* Older browsers */
    url('/fonts/GeneralSans-Regular.eot');
  /* Legacy IE */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --background: #E0E0E0;
  --gray-3: #828282;
  --dark: #080807;
  --orange-gradient: linear-gradient(45deg, #CCBDBA 0%, #999498 100%);
  --lightgray-background: #D9D9D9;
  --step--2: clamp(0.44rem, -0.02vi + 0.45rem, 0.43rem);
  --step--1: clamp(0.67rem, 0.05vi + 0.66rem, 0.7rem);
  --step-0: clamp(1rem, 0.2vi + 0.95rem, 1.13rem);
  --step-1: clamp(1.5rem, 0.51vi + 1.37rem, 1.82rem);
  --step-2: clamp(2.25rem, 1.11vi + 1.97rem, 2.95rem);
  --step-3: clamp(3.38rem, 2.22vi + 2.82rem, 4.77rem);
  --step-4: clamp(5.06rem, 4.24vi + 4rem, 7.71rem);
  --step-5: clamp(7.59rem, 7.81vi + 5.64rem, 12.48rem);
  --step-6: clamp(11.39rem, 14.07vi + 7.87rem, 20.18rem);
  --space-0: clamp(0.63rem, 0.75vi + 0.44rem, 1rem);
  --space-1: clamp(0.94rem, 1.36vi + 0.6rem, 1.62rem);
  --space-2: clamp(1.41rem, 2.42vi + 0.8rem, 2.62rem);
  --space-3: clamp(2.11rem, 4.25vi + 1.05rem, 4.24rem);
  --space-4: clamp(3.16rem, 7.38vi + 1.32rem, 6.85rem);
  --space-5: clamp(4.75rem, 12.69vi + 1.57rem, 11.09rem);
  --section-padding: clamp(1.5rem, 12.71vi + -1.68rem, 15rem);
  --header: clamp(4rem, 20.27vi + -1.07rem, 17.94rem);
  --letter-spacing-m: calc(-1 * clamp(0.25rem, 0.55vi + 0.11rem, 0.63rem));
  --letter-spacing-l: calc(-1 * clamp(0.5rem, 2.18vi + -0.05rem, 2rem));
}

body {
  overflow-x: hidden;
  background-color: var(--background);
  font-size: 16px;
  margin: 0;
  font-family: 'GeneralSans', Arial, sans-serif;
  position: relative;
}

.texture-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  background-image: url('img/bg-2612-2.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-size: auto;
  background-repeat: repeat;
  background-blend-mode: multiply;
  opacity: 0.2;
}

section,
nav,
footer {
  padding: var(--step-0) var(--section-padding) var(--step-3);
}

.container-padding {
  padding: var(--step-1) 0 var(--step-2);
}

/* TYPOGRAPHY */
section h1 {
  font-size: var(--step-4);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-m);
}

section h2 {
  font-size: var(--step-4);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-m);
}

section h3,
footer h3 {
  font-size: var(--step-3);
  font-weight: 400;
  word-break: break-word;
}

section h4 {
  font-size: var(--step-2);
  font-weight: normal;
}

section p {
  font-size: var(--step-0);
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: #181285;
  text-decoration: underline;
}

.gray-text {
  color: var(--gray-3);
}

.tag {
  border-radius: 50px;
  border: 1px var(--dark) solid;
  padding: 4px 12px;
  margin: 0;
  font-size: var(--step-0);
}

/* NAVIGATION BAR */


nav {
  padding-top: var(--step-1);
  padding-bottom: var(--step-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.right-nav {
  gap: var(--step--1);
}

/* HERO HEADER */

#hero {
  height: 100vh;
}

#hero h1 {
  font-size: var(--header);
  letter-spacing: var(--letter-spacing-l);

}

#hero-header p {
  font-size: var(--space-2);
}

#hero-header svg {
  width: 75vw;
  height: auto;
}

#hero .vid-container {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--step-2);
}

#hero .vid-container iframe {
  width: 100%;
  height: 700px;
}

#hero-header {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.split-text span {
  display: inline-block;
  white-space: pre;
}

/* PROJECTS */
.project {
  display: flex;
}

/* #projects-left {
  height: 80vh;
  min-height: 700px;
} */

.project-img {
  /* display: flex;
  align-items: center; */
  /* position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1; */
}

.project-img img {
  height: 80vh;
  width: auto;
  object-fit: cover;
}

.project-text {
  padding: 0 var(--step-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

/* .project-info {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

.project-index {
  font-size: var(--step-4);
  margin: 0;
  line-height: 1;
}

.background-orange {
  background: var(--orange-gradient);
}

.background-gray {
  background: var(--lightgray-background);
}

#after-image {
  display: block
}

#after-image img {
  width: 100%;
  pointer-events: none;
}

#before-image {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

#before-image img {
  height: 100%;
  object-fit: cover;
  object-position: left;
  pointer-events: none;
}

#resizer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: white;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  box-shadow: 0px 0px 20px var(--background);
}

#resizer:after {
  background: white;
  content: '< >';
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  margin: 0 0 0 -1.1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  color: var(--dark);
}

.word {
  display: inline-block;
  will-change: transform, opacity;
}

#project-top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: var(--step-3) var(--section-padding);
}

/* SKILLS */
.skill-card {
  padding: var(--space-2);
  background-color: var(--lightgray-background);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--space-0);
}

.skill-card-top {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

/* UTILITY */
.img-container img {
  width: 100%;
  height: auto;
}

.img-dark {
  position: relative;
}

.img-dark::before {
  content: '';
  /* Mandatory for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.mb-l {
  margin-bottom: var(--step-2);
}

.mb-m {
  margin-bottom: var(--step-1);
}

.gap-col {
  column-gap: var(--space-3);
}

.gap-xs {
  gap: var(--space-0);
}

.gap-s {
  gap: var(--space-1);
}

.gap-m {
  gap: var(--space-2);
}

.gap-l {
  gap: var(--space-3);
}

.gap-xl {
  gap: var(--space-4);
}

.br-s {
  border-radius: 15px;
}

.padding-5 {
  padding: var(--space-5);
}

/* VIDEO PLAYER */

.video-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  /* Use flexbox */
  justify-content: center;
  height: 800px;
}

.video-container video {
  width: auto;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}


/* FOOTER */
footer {
  position: relative;
  padding-bottom: 0;
}

#footer-line {
  background-color: var(--dark);
  height: 2px;
  width: 100%;
}

footer svg {

}

#footer-svg {
  height: 250px;
  overflow: hidden;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  display: inline-block;
  font-size: var(--step-3);
  padding-right: var(--space-2);
  height: 1;
}

/* FADED LOADING EFFECT */
@keyframes fadeinall {
  0% {
    opacity: 1;
  }

  97% {
    opacity: 0;
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}

#fadein {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: var(--background);
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}