/* Global Styling */
@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
    /* Modern browsers */
    url('/fonts/GeneralSans-Regular.woff') format('woff'),
    /* Older browsers */
    url('/fonts/GeneralSans-Regular.eot');
  /* Legacy IE */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --background: #E0E0E0;
  --gray: #E0E0E0;
  --dark: #080807;
  --step--2: clamp(0.44rem, -0.02vi + 0.45rem, 0.43rem);
  --step--1: clamp(0.67rem, 0.05vi + 0.66rem, 0.7rem);
  --step-0: clamp(1rem, 0.2vi + 0.95rem, 1.13rem);
  --step-1: clamp(1.5rem, 0.51vi + 1.37rem, 1.82rem);
  --step-2: clamp(2.25rem, 1.11vi + 1.97rem, 2.95rem);
  --step-3: clamp(3.38rem, 2.22vi + 2.82rem, 4.77rem);
  --step-4: clamp(5.06rem, 4.24vi + 4rem, 7.71rem);
  --step-5: clamp(7.59rem, 7.81vi + 5.64rem, 12.48rem);
  --step-6: clamp(11.39rem, 14.07vi + 7.87rem, 20.18rem);
  --space-0: clamp(0.63rem, 0.75vi + 0.44rem, 1rem);
  --space-1: clamp(0.94rem, 1.36vi + 0.6rem, 1.62rem);
  --space-2: clamp(1.41rem, 2.42vi + 0.8rem, 2.62rem);
  --space-3: clamp(2.11rem, 4.25vi + 1.05rem, 4.24rem);
  --space-4: clamp(3.16rem, 7.38vi + 1.32rem, 6.85rem);
  --space-5: clamp(4.75rem, 12.69vi + 1.57rem, 11.09rem);
  /* --step--2: clamp(0.64rem, -0.12vi + 0.67rem, 0.57rem);
  --step--1: clamp(0.8rem, 0.23vi + 0.74rem, 0.93rem);
  --step-0: clamp(1rem, 0.91vi + 0.77rem, 1.5rem);
  --step-1: clamp(1.25rem, 2.14vi + 0.71rem, 2.43rem);
  --step-2: clamp(1.56rem, 4.3vi + 0.49rem, 3.93rem);
  --step-3: clamp(1.95rem, 8vi + -0.05rem, 6.35rem);
  --step-4: clamp(2.44rem, 14.25vi + -1.12rem, 10.28rem);
  --step-5: clamp(3.05rem, 24.69vi + -3.12rem, 16.63rem);
  --step-6: clamp(3.81rem, 42vi + -6.68rem, 26.91rem);
  --step-7: clamp(3.81rem, 42vi + -6.68rem, 26.91rem); */
}

body {
  overflow-x: hidden;
  background-color: var(--gray);
  background-image: url('img/bg-texture-2.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: darken;
  font-size: 16px;
  margin: 0;
  font-family: 'GeneralSans', Arial, sans-serif;
  position: relative;
}

section,
nav,
footer {
  padding: var(--step-0) var(--space-3) var(--step-3);
}

.container-padding {
  padding: var(--step-1) 0 var(--step-2);
}

section h1 {
  font-size: var(--step-4);
  font-weight: 400;
  letter-spacing: calc((var(--step-4) * -0.0695));
}

section h2 {
  font-size: var(--step-4);
  font-weight: 400;
}

section h3 {
  font-size: var(--step-3);
  font-weight: 400;
}

section h4 {
  font-size: var(--step-2);
  font-weight: normal;
}

section p {
  font-size: var(--step-0);
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: #181285;
  text-decoration: underline;
}

.tag {
  border-radius: 50px;
  border: 1px var(--dark) solid;
  padding: 8px 16px;
  margin: 0;
  font-size: var(--step-0);
}

/* NAVIGATION BAR */
nav {
  padding-top: var(--step-1);
  padding-bottom: var(--step-1);
}

.right-nav {
  gap: var(--step--1);
}

/* HERO HEADER */

#hero {
  height: 100vh;
}

#hero h1 {
  font-size: var(--step-5);
  letter-spacing: -1rem;
}

#hero .vid-container {
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--step-0);
}

#hero .vid-container iframe {
  width: ;
}

#hero-header {
  justify-content: center;
  flex: 1;
}

.split-text span {
  display: inline-block;
  white-space: pre;
}

/* PROJECTS */
.project {
  display: flex;
}

.project-img {
  flex: 4;
}

.project-img img {
  width: 100%;
  height: auto;
}

.project-text {
  padding: 0 var(--step-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.project-index {
  font-size: var(--step-3);
  margin: 0;
  line-height: 1;
}


/* UTILITY */
.img-container img {
  width: 100%;
  height: auto;
}

.img-dark {
  position: relative;
}

.img-dark::before {
  content: '';
  /* Mandatory for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.width-50 {
  width: 50%;
}

.mb-l {
  margin-bottom: var(--step-2);
}

.mb-m {
  margin-bottom: var(--step-1);
}

.gap-col {
  column-gap: var(--space-2);
}

.gap-xs {
  gap: var(--space-0);
}

.gap-s {
  gap: var(--space-1);
}

.gap-m {
  gap: var(--space-2);
}

.gap-l {
  gap: var(--space-3);
}

.br-s {
  border-radius: 15px;
}

/* FOOTER */
.footer-top {}

/* FADED LOADING EFFECT */
@keyframes fadeinall {
  0% {
    opacity: 1;
  }

  97% {
    opacity: 0;
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}

#fadein {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: var(--gray);
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}