/* Global Styling */
@font-face {
  font-family: 'GeneralSans';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
    /* Modern browsers */
    url('/fonts/GeneralSans-Regular.woff') format('woff'),
    /* Older browsers */
    url('/fonts/GeneralSans-Regular.eot');
  /* Legacy IE */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --main: #080807;
  --light: #F5F5FF;
  --background: #FFFFFA;
  --gray: #E0E0E0;
  --dark: #080807;
  --step--2: clamp(0.64rem, -0.12vi + 0.67rem, 0.57rem);
  --step--1: clamp(0.8rem, 0.23vi + 0.74rem, 0.93rem);
  --step-0: clamp(1rem, 0.91vi + 0.77rem, 1.5rem);
  --step-1: clamp(1.25rem, 2.14vi + 0.71rem, 2.43rem);
  --step-2: clamp(1.56rem, 4.3vi + 0.49rem, 3.93rem);
  --step-3: clamp(1.95rem, 8vi + -0.05rem, 6.35rem);
  --step-4: clamp(2.44rem, 14.25vi + -1.12rem, 10.28rem);
  --step-5: clamp(3.05rem, 24.69vi + -3.12rem, 16.63rem);
  --step-6: clamp(3.81rem, 42vi + -6.68rem, 26.91rem);
  --step-7: clamp(3.81rem, 42vi + -6.68rem, 26.91rem);
}

body {
  overflow-x: hidden;
  background-color: var(--gray);
  background-image: url('img/bg-texture-2.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: darken;
  font-size: 16px;
  margin: 0;
  font-family: 'GeneralSans', Arial, sans-serif;
  position: relative;
}

section,
footer, {
  padding: var(--step-4) var(--step-2);
}

h1 {
  font-size: var(--step-5);
  letter-spacing: -1rem;
  font-weight: 400;
}

h2 {
  font-size: var(--step-4);
  font-weight: 400;
}

h3 {
  font-size: var(--step-2);
  font-weight: 400;
}

h4 {
  font-size: var(--step-1);
  font-weight: normal;
}

p {
  font-size: var(--step-0);
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.2;
  overflow: hidden;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: #181285;
  text-decoration: underline;
}

/* NAVIGATION BAR */
nav {
  padding: var(--step-1) var(--step-2);
}

.right-nav {
  gap: var(--step--1);
}

/* HERO HEADER */

#hero {
  height: 100vh;
}

#hero h1 {
  font-size: var(--step-7);
}

#hero .vid-container {
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--step-0);
}

#hero .vid-container iframe {
  width: ;
}

#hero-header {
  justify-content: center;
  flex: 1;
}

.split-text span {
  display: inline-block;
  white-space: pre;
}

/* PROJECTS */
.project {
  display: flex;
}

.project-img {
  flex: 4;
}

.project-img img {
  width: 100%;
  height: auto;
}


.project-text {
  padding: 0 var(--step-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.project-index {
  font-size: var(--step-3);
  margin: 0;
  line-height: 1;
}

/* UTILITY */
.img-container img {
  width: 100%;
  height: auto;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.width-50 {
  width: 50%;
}

.mb-l {
  margin-bottom: var(--step-2);
}

.mb-m {
  margin-bottom: var(--step-1);
}

/* FOOTER */
.footer-top {

}

/* FADED LOADING EFFECT */
@keyframes fadeinall {
  0% {
    opacity: 1;
  }

  97% {
    opacity: 0;
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}

#fadein {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: var(--gray);
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}